[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
djangorestframework = "*"
django-dotenv = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-cors-headers = "*"
django-apscheduler = "*"
requests = "*"
beautifulsoup4 = "*"
whitenoise = "*"
tzdata = "*"


[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
